<script setup>
  import { ref } from 'vue'

  const name = ref('Max Mustermann')

  function changeName() {
    console.log(name.value)
    name.value = 'Erika Musterfrau'
  }
</script>

<template>
  <div>
    <strong>Dein Name lautet: </strong> {{name}}<br>
    <button type="button" @click="changeName">
      Namen ändern
    </button>
  </div>
</template>
